@import "../scss/abstracts/variables.scss";

.button{
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-self: stretch;
    border-radius: 4px;
    border: none;
    color: $background-color;
    }
    .main-button{
        background-color: $secondary-color;
        &:hover{
            background-color: $secondary-color-hover;
        }
    }
    .secondary-button{
        background-color: $secondary-button;
        &:hover{
            background-color: $secondary-button-hover;
        }
    }