$primary-color: #10BBD5;
$secondary-color: #4C394E;
$main-color:#EEEEEF;
$background-color:white;
$avtor-color:#8E8E8E;
$hit-color:#4200FF;
$new-color:#AF39E7;
$secondary-button:#4D762D;
$secondary-button-hover:#6DB236;
$secondary-color-hover: #744978;
$off-color:#EA33C0;
