@import "../scss/base/reset.scss";
@import "../abstracts/variables.scss";

.header{
 background-color:$primary-color;
 width: 100%;
 margin: 0 auto;
 position: fixed;
 top: 0;
 z-index: 10;

}
.header__wrapper{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 52px;
}
.wrapper__cart{
    display: flex;
    align-items: center;
    gap: 8px;
    color:$background-color;
    font-weight: 400;
    line-height: 24px; 
   } 
.header__wrapper-secondary{
    @extend .header__wrapper;
    background: #FFF;
    padding: 4px 52px;
   }
.header__navigator-menu {
    & ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;}
    & a{
        color: #000000;
    }
    & a:hover{
        color:$secondary-color;
    }
   }