@import "../scss/base/reset.scss";
@import "../scss/abstracts/variables.scss";
@import "../fonts/fonts.scss";
@import "../scss/layout/header.scss";
@import "../scss/layout/footer.scss";
@import "../scss/components/button.scss";
@import "../scss/base/defaults.scss";

.main{
    background-color: $main-color;
    margin: 0 auto;
    padding: 36px 52px 120px;
}
.main__chat  {
    display: flex;
    background: url(../img/chat.png) no-repeat center;
    background-color: $primary-color;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 6px;
    position: fixed;
    top: 75%;
    left:95%;

    &:hover{
     background-image: url(../img/chathover.png);

    }
}

.main-title{
font-size: 32px;
font-weight: 600;
line-height: 40px; 
padding-bottom: 23px;
border-bottom:1px solid #A8A8A8; 
}
.product-content{
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 24px;
    padding-left: 0;
}

.card-content{
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: $background-color;
    border: 1px solid #A8A8A8;
}

.card-content__image {
display: flex;
justify-content: center;
align-items: center;
align-self: stretch;
position: relative;
}

.card-content__title {
display: flex;
flex-direction: column;
font-size: 20px;
font-weight: 700;
line-height: 28px;
align-items: flex-start;


& p{max-width: 242px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
&-avtor{
width: 242px;
color: $avtor-color;
font-weight: 400;
line-height: 24px;
border-top: 1px solid #8E8E8E;
margin-bottom: 8px;
}
}
.card-content__title-avtor-price{
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    
    &__sale{
        color: $avtor-color;
        text-decoration-line: line-through;
    }
}
.image-badge{
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0; 
    text-align: center;
    font-weight: 400;
    line-height: 24px; 
    gap: 4px;
    

    &__hit{
        background-color: $hit-color;
    }
    &__new{
        background-color: $new-color;
    }
    &__off{
        background-color: $off-color;
    }

& span{
    color: $background-color;
    border-radius: 4px;
    padding: 4px 8px;
    gap: 10px;
}
}
